<head>
  <title>livechat</title>
</head>

<body>
  <h1>Real time chat!</h1>
  {{> chatWindow}}
</body>

<template name="chatWindow">
	<h3>Chat window</h3>
	<div id="messagesBlock">
	  {{#each messages}}
	  	{{> message}}
	  {{/each}}
	</div>
	<form id="chatForm">
		<input type="text" placeholder="Name" name="from" class="msg-from">
		<input type="text" placeholder="Message" name="body" class="msg-body">
		<input type="submit" value="Send">
	</form>

</template>

<template name="message">
	<strong>{{from}}</strong>: {{body}} <br>
</template>
